In [2]:
import pandas as pd
import json

import numpy as np

In [3]:
# Importing the raw csv:

df_start = pd.read_csv('application_for_request101821.csv')

In [4]:
df_start.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   number             3 non-null      object
 1   prgrm_participant  2 non-null      object
 2   app_name           6 non-null      object
 3   app_frn            7 non-null      float64
 4   rpi_name           4 non-null      object
 5   sys_class_name     8 non-null      object
 6   cert_date          0 non-null      float64
 7   scrp_int_status    8 non-null      object
 8   scrp_ext_status    3 non-null      object
 9   locations          8 non-null      object
 10  equipment          8 non-null      object
 11  cost_estimates     8 non-null      object
 12  covered_equipment  5 non-null      object
 13  study_area_code    1 non-null      object
 14  spin               1 non-null      float64
 15  app_duns           6 non-null      float64
 16  app_duns_4         3 non-null      float64
 17  app_cage           6 non-null      object
 18  form_499           1 non-null      object
 19  acs_10             5 non-null      object
 20  acs_2              5 non-null      object
 21  has_open_draft     8 non-null      bool
dtypes: bool(1), float64(5), object(16)
memory usage: 1.4+ KB

In [5]:
df = df_start[['app_frn', 'locations']]

In [6]:
df['locations'] = df.locations.str.replace('\n', '')

/var/folders/8t/wm4_9htn0l781swml25l3r3w0000gn/T/ipykernel_64464/1779485377.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['locations'] = df.locations.str.replace('\n', '')

In [7]:
df.locations[0]

'[ {  "loc_sys_id" : "584201801bdb7810d74d877ae54bcbb2",  "number" : "SCLI0010517",  "loc_name" : "Atwater Brewery",  "loc_lat" : "74.3724",  "loc_long" : "-120.3383",  "loc_street" : "237 Jos Campau Dr.",  "loc_city" : "Detroit",  "loc_state" : "393d5cd7dbbd22008e0b75131f96198b",  "loc_zip" : "48207",  "loc_alt_add" : "N/A",  "loc_type" : "Other",  "loc_type_other" : "Brewery"}, {  "loc_sys_id" : "5c4201841b53b810e8c2dbdbe54bcbdf",  "number" : "SCLI0010519",  "loc_name" : "Aretha Franklin Amphitheatre",  "loc_lat" : "12.81277",  "loc_long" : "145.3423",  "loc_street" : "2600 Atwater St",  "loc_city" : "Detoit",  "loc_state" : "393d5cd7dbbd22008e0b75131f96198b",  "loc_zip" : "48207",  "loc_alt_add" : "N/A",  "loc_type" : "Network operations center",  "loc_type_other" : "null"} ]'

In [8]:
df

      app_frn                                          locations
0  23548274.0  [ {  "loc_sys_id" : "584201801bdb7810d74d877ae...
1  29421096.0                                                [ ]
2   3718145.0  [ {  "loc_sys_id" : "137580ff1b833810e8c2dbdbe...
3  29393287.0  [ {  "loc_sys_id" : "201f498c1b1f7810d74d877ae...
4         NaN                                                [ ]
5   3015740.0  [ {  "loc_sys_id" : "d9c29d901bdbf810e8c2dbdbe...
6  29414232.0  [ {  "loc_sys_id" : "7fa54d9c1b5bf810e8c2dbdbe...
7   7547938.0  [ {  "loc_sys_id" : "3d8496d81b533c10e8c2dbdbe...

In [9]:
df['locations'] = df.locations.apply(lambda x: eval(x))

/var/folders/8t/wm4_9htn0l781swml25l3r3w0000gn/T/ipykernel_64464/140728023.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['locations'] = df.locations.apply(lambda x: eval(x))

In [11]:
type(df.locations[0])

list

In [ ]:
# df.to_json('location_list.json')

In [ ]:
# with open('location_list.json', 'r') as f:
#     data = json.loads(f.read())

In [ ]:
# df2 = pd.DataFrame(data)

In [ ]:
# df2.locations.apply(lambda x: eval(x))

In [ ]:
# df2['locations'] = df2.locations.apply(lambda x: eval(x))

In [ ]:
# type(df2.locations[0])

In [ ]:
# pd.json_normalize(data = df2, record_path = "locations") 

# pd.json_normalize(data = df2.locations[0], meta = ['app_frn'])

In [ ]:
# df3 = pd.DataFrame()

In [ ]:
# df3 = df3.append(pd.json_normalize(data = df2.locations[0]))

In [ ]:
# df3['app_frn'] = df2.app_frn[0]

In [12]:
len(df)

8

In [13]:
df4 = pd.DataFrame()

for x in range(len(df)):
    if len(pd.json_normalize(data = df.locations[x])) == 0:
        new_df = pd.DataFrame(data = {'app_frn' : [df.app_frn[x]]})
        df4 = df4.append(new_df)
    else:
        new_df = pd.json_normalize(data = df.locations[x])
        new_df['app_frn'] = df.app_frn[x]
        df4 = df4.append(new_df)

In [14]:
df4

,loc_sys_id,number,loc_name,loc_lat,loc_long,loc_street,loc_city,loc_state,loc_zip,loc_alt_add,loc_type,loc_type_other,app_frn
0,584201801bdb7810d74d877ae54bcbb2,SCLI0010517,Atwater Brewery,74.3724,-120.3383,237 Jos Campau Dr.,Detroit,393d5cd7dbbd22008e0b75131f96198b,48207,N/A,Other,Brewery,23548274.0
1,5c4201841b53b810e8c2dbdbe54bcbdf,SCLI0010519,Aretha Franklin Amphitheatre,12.81277,145.3423,2600 Atwater St,Detoit,393d5cd7dbbd22008e0b75131f96198b,48207,N/A,Network operations center,null,23548274.0
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29421096.0
0,137580ff1b833810e8c2dbdbe54bcb4d,SCLI0002169,Atwater Brewery,74.3724,-120.3383,237 Jos Campau Dr.,Detroit,393d5cd7dbbd22008e0b75131f96198b,48207,N/A,Other,Brewery,3718145.0
1,df7504bf1b8ff410d74d877ae54bcb80,SCLI0002171,Aretha Franklin Amphitheatre,12.81277,145.3423,2600 Atwater St,Detoit,393d5cd7dbbd22008e0b75131f96198b,48207,N/A,Network operations center,null,3718145.0
0,201f498c1b1f7810d74d877ae54bcb2a,SCLI0014741,test,20.6315,-80.6321,test,test,079c6118dbfc3600d02ffb0e0f96199b,22222,tst,Cell site,NaN,29393287.0
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,d9c29d901bdbf810e8c2dbdbe54bcb46,SCLI0014783,SFO23,57.22123,145.9090,71 Windy Drive,San Bernardo,0f2d5cd7dbbd22008e0b75131f961907,71456,n/a,Central office,null,3015740.0
0,7fa54d9c1b5bf810e8c2dbdbe54bcbcf,SCLI0014763,Montgomery:Mobile switching center,32.233377,-86.208528,62592 Johnson Freeway Road Bldg 577,Montgomery,032d5cd7dbbd22008e0b75131f96190b,36134,N/A,Mobile switching center,null,29414232.0
1,b7a5c1581b53f810d74d877ae54bcb50,SCLI0014765,Tucson:Central office,32.249551,-110.8878,0762 Jeffery Court Road,Tucson,0b2d5cd7dbbd22008e0b75131f961907,85712,N/A,Central office,null,29414232.0
2,f3a501101b9bf810e8c2dbdbe54bcb65,SCLI0014767,San Diego:Mobile switching center,33.016928,-116.846046,8593 Hebert Passage Hwy.,San Diego,0f2d5cd7dbbd22008e0b75131f961907,92165,N/A,Mobile switching center,null,29414232.0
3,b3a5c1581b53f810d74d877ae54bcb56,SCLI0014769,Cortland:Cell site,42.591109,-76.19217,3505 Brown Parks Terrace,Cortland,526226aedbb122008e0b75131f96195d,13045,N/A,Cell site,null,29414232.0
4,ffa54d9c1b5bf810e8c2dbdbe54bcbd2,SCLI0014771,Wilcox:Central office,41.587333,-78.65347,207 Jesus Islands Terrace Ste 79112,Wilcox,683d5cd7dbbd22008e0b75131f961946,15870,N/A,Central office,null,29414232.0
5,f3a5c1581b53f810d74d877ae54bcb8d,SCLI0014773,Reedsport:Cell site,43.68516,-124.00262,82303 Barnett Hill Place Bldg 0717,Reedsport,66a70f0adb6d66008e0b75131f96195f,97467,N/A,Cell site,null,29414232.0
6,bfa501101b9bf810e8c2dbdbe54bcb67,SCLI0014775,Truchas:Cell site,36.036721,-105.78702,6074 Hooper Streets Plaza Ste 5393,Truchas,49fde85fdbbd22008e0b75131f961918,87578,N/A,Cell site,null,29414232.0
7,ffa5c1581b53f810d74d877ae54bcb63,SCLI0014777,Rock Island:Network operations center,29.520292,-96.57348,244 Michele Crest Way,Rock Island,7a6226aedbb122008e0b75131f96197b,77470,N/A,Network operations center,null,29414232.0
8,3fa5c1101b9bf810e8c2dbdbe54bcb80,SCLI0014779,Rose Hill:Cell site,37.573226,-97.12421,8081 Dawn Ferry Drive Ste 637,Rose Hill,26a70f0adb6d66008e0b75131f96195f,67133,N/A,Cell site,null,29414232.0
9,33a5c1581b53f810d74d877ae54bcbc1,SCLI0014781,Albuquerque:Central office,35.108573,-106.243911,9167 Leah Circle Road,Albuquerque,49fde85fdbbd22008e0b75131f961918,87197,N/A,Central office,null,29414232.0
0,3d8496d81b533c10e8c2dbdbe54bcbd0,SCLI0014807,Excel Test,10.5768,145.5678,123 excel test site,alexandria,872d5cd7dbbd22008e0b75131f961908,22315,N/A,Network operations center,N/A,7547938.0

In [15]:
df4 = df4.set_index('app_frn').reset_index()

In [16]:
df.head(5)

      app_frn                                          locations
0  23548274.0  [{'loc_sys_id': '584201801bdb7810d74d877ae54bc...
1  29421096.0                                                 []
2   3718145.0  [{'loc_sys_id': '137580ff1b833810e8c2dbdbe54bc...
3  29393287.0  [{'loc_sys_id': '201f498c1b1f7810d74d877ae54bc...
4         NaN                                                 []

In [17]:
df4

,app_frn,loc_sys_id,number,loc_name,loc_lat,loc_long,loc_street,loc_city,loc_state,loc_zip,loc_alt_add,loc_type,loc_type_other
0,23548274.0,584201801bdb7810d74d877ae54bcbb2,SCLI0010517,Atwater Brewery,74.3724,-120.3383,237 Jos Campau Dr.,Detroit,393d5cd7dbbd22008e0b75131f96198b,48207,N/A,Other,Brewery
1,23548274.0,5c4201841b53b810e8c2dbdbe54bcbdf,SCLI0010519,Aretha Franklin Amphitheatre,12.81277,145.3423,2600 Atwater St,Detoit,393d5cd7dbbd22008e0b75131f96198b,48207,N/A,Network operations center,null
2,29421096.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3718145.0,137580ff1b833810e8c2dbdbe54bcb4d,SCLI0002169,Atwater Brewery,74.3724,-120.3383,237 Jos Campau Dr.,Detroit,393d5cd7dbbd22008e0b75131f96198b,48207,N/A,Other,Brewery
4,3718145.0,df7504bf1b8ff410d74d877ae54bcb80,SCLI0002171,Aretha Franklin Amphitheatre,12.81277,145.3423,2600 Atwater St,Detoit,393d5cd7dbbd22008e0b75131f96198b,48207,N/A,Network operations center,null
5,29393287.0,201f498c1b1f7810d74d877ae54bcb2a,SCLI0014741,test,20.6315,-80.6321,test,test,079c6118dbfc3600d02ffb0e0f96199b,22222,tst,Cell site,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,3015740.0,d9c29d901bdbf810e8c2dbdbe54bcb46,SCLI0014783,SFO23,57.22123,145.9090,71 Windy Drive,San Bernardo,0f2d5cd7dbbd22008e0b75131f961907,71456,n/a,Central office,null
8,29414232.0,7fa54d9c1b5bf810e8c2dbdbe54bcbcf,SCLI0014763,Montgomery:Mobile switching center,32.233377,-86.208528,62592 Johnson Freeway Road Bldg 577,Montgomery,032d5cd7dbbd22008e0b75131f96190b,36134,N/A,Mobile switching center,null
9,29414232.0,b7a5c1581b53f810d74d877ae54bcb50,SCLI0014765,Tucson:Central office,32.249551,-110.8878,0762 Jeffery Court Road,Tucson,0b2d5cd7dbbd22008e0b75131f961907,85712,N/A,Central office,null
10,29414232.0,f3a501101b9bf810e8c2dbdbe54bcb65,SCLI0014767,San Diego:Mobile switching center,33.016928,-116.846046,8593 Hebert Passage Hwy.,San Diego,0f2d5cd7dbbd22008e0b75131f961907,92165,N/A,Mobile switching center,null
11,29414232.0,b3a5c1581b53f810d74d877ae54bcb56,SCLI0014769,Cortland:Cell site,42.591109,-76.19217,3505 Brown Parks Terrace,Cortland,526226aedbb122008e0b75131f96195d,13045,N/A,Cell site,null
12,29414232.0,ffa54d9c1b5bf810e8c2dbdbe54bcbd2,SCLI0014771,Wilcox:Central office,41.587333,-78.65347,207 Jesus Islands Terrace Ste 79112,Wilcox,683d5cd7dbbd22008e0b75131f961946,15870,N/A,Central office,null
13,29414232.0,f3a5c1581b53f810d74d877ae54bcb8d,SCLI0014773,Reedsport:Cell site,43.68516,-124.00262,82303 Barnett Hill Place Bldg 0717,Reedsport,66a70f0adb6d66008e0b75131f96195f,97467,N/A,Cell site,null
14,29414232.0,bfa501101b9bf810e8c2dbdbe54bcb67,SCLI0014775,Truchas:Cell site,36.036721,-105.78702,6074 Hooper Streets Plaza Ste 5393,Truchas,49fde85fdbbd22008e0b75131f961918,87578,N/A,Cell site,null
15,29414232.0,ffa5c1581b53f810d74d877ae54bcb63,SCLI0014777,Rock Island:Network operations center,29.520292,-96.57348,244 Michele Crest Way,Rock Island,7a6226aedbb122008e0b75131f96197b,77470,N/A,Network operations center,null
16,29414232.0,3fa5c1101b9bf810e8c2dbdbe54bcb80,SCLI0014779,Rose Hill:Cell site,37.573226,-97.12421,8081 Dawn Ferry Drive Ste 637,Rose Hill,26a70f0adb6d66008e0b75131f96195f,67133,N/A,Cell site,null
17,29414232.0,33a5c1581b53f810d74d877ae54bcbc1,SCLI0014781,Albuquerque:Central office,35.108573,-106.243911,9167 Leah Circle Road,Albuquerque,49fde85fdbbd22008e0b75131f961918,87197,N/A,Central office,null
18,7547938.0,3d8496d81b533c10e8c2dbdbe54bcbd0,SCLI0014807,Excel Test,10.5768,145.5678,123 excel test site,alexandria,872d5cd7dbbd22008e0b75131f961908,22315,N/A,Network operations center,N/A